# XEP-0114 external component connection
COMPONENT_HOST=<server-vpn-address>
COMPONENT_PORT=5347
COMPONENT_DOMAIN=<component-domain>
COMPONENT_SECRET=<shared-secret>

# Outgoing stanza addresses
COMPONENT_FROM=<component-domain>
COMPONENT_TO=<destination-jid>

# Optional PubSub settings
#PUBSUB_SERVICE=<pubsub-service-jid>
#PUBSUB_NODE=<pubsub-node>
#PUBSUB_ITEM=main
#PUBSUB_RAW=0
#PUBSUB_APPEND=0
